### Pandas example demo

In regards to [Probleme Reading csv column , even its correct name coulmn i make in script](https://discourse.jupyter.org/t/probleme-reading-csv-column-even-its-correct-name-coulmn-i-make-in-script/29243?u=fomightez)

In [1]:
import pandas as pd
mutual_funds = pd.DataFrame({'A': range(1, 6),
                   'B': range(10, 0, -2),
                   'Investment_Return': range(100, 0, -20),
                   'C C': range(10, 5, -1)})

In [2]:
mutual_funds

   A   B  Investment_Return  C C
0  1  10                100   10
1  2   8                 80    9
2  3   6                 60    8
3  4   4                 40    7
4  5   2                 20    6

In [3]:
good_return_threshold = 51
def classify_return(Investment_Return):
    if Investment_Return> good_return_threshold:
        return 'Good'
    else:
        return 'Not good'
mutual_funds['Return_Classification']= mutual_funds['Investment_Return'].apply(classify_return)

In [4]:
mutual_funds

   A   B  Investment_Return  C C Return_Classification
0  1  10                100   10                  Good
1  2   8                 80    9                  Good
2  3   6                 60    8                  Good
3  4   4                 40    7              Not good
4  5   2                 20    6              Not good